Repository anaai/anaai: changes, and which Semaphore blocks are due for each by the changed paths.
All: Contract, NRT Service

Contract:
  jobs:
  - commands:
    - checkout
    - cd contract
    - npm install
    - npm test

NRT Service:
  jobs:
  - commands:
    - checkout
    - cd nft-service
    - make test
    - docker build -t nft-service .
    - docker run nft-service python -m pytest tests

Rename ExploreScene to MyArtScene
  client/src/components/ExploreScene/ExploreScene.tsx
  client/src/components/MyArtScene/MyArtScene.styles.ts
  client/src/components/MyArtScene/MyArtScene.test.tsx
  client/src/components/MyArtScene/MyArtScene.tsx
Due: none

Rename ExploreScene to MyArtScene
  client/src/components/MyArtScene/ImageGallery/ImageGallery.styles.ts
  client/src/components/MyArtScene/ImageGallery/ImageGallery.test.tsx
  client/src/components/MyArtScene/ImageGallery/ImageGallery.tsx
Due: none

Add Header component
  client/src/components/Header/Header.styles.ts
  client/src/components/Header/Header.test.tsx
  client/src/components/Header/Header.tsx
Due: none

Decrease theme spacing
  client/src/config/theme/primaryTheme.ts
Due: none

Add new route guards
  client/src/components/RootView/RootView.tsx
Due: none

Code cleanup
  client/src/components/LandingScene/LandingScene.styles.ts
  client/src/components/LandingScene/LandingScene.test.tsx
  client/src/components/LandingScene/LandingScene.tsx
Due: none

Add current count of transformations made for each transformation
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  contract/test/PayGenerating.test.js
Due: Contract

Send transformation number in event listener
  event-listener/StyleArt.json
  event-listener/event_listener.js
Due: none

Update job-orchestrator docker image
  job-orchestrator/Dockerfile
Due: none

Change token name in token metadata
  job-orchestrator/logger.py
  job-orchestrator/tasks.py
  job-orchestrator/tests/test_logger.py
  job-orchestrator/tests/test_tasks.py
Due: none

Support transformation number in job service
  job-service/logger.py
  job-service/service.py
  job-service/tests/test_logger.py
  job-service/tests/test_service.py
Due: none

Add transformation number to job request model
  job-service/alembic/versions/324348d8954b_add_transformation_number_to_job_request.py
  job-service/crud.py
  job-service/models.py
  job-service/tests/test_service.py
Due: none

Update contract abi on client
  client/src/assets/contracts/StyleArt.json
Due: none

Update contract abi in nft service
  job-service/crud.py
  nft-service/contracts/StyleArt.json
Due: NRT Service

Remove cartoonifier transformer from job orchestrator
  job-orchestrator/tasks.py
  job-orchestrator/tests/cartoonified.jpeg
  job-orchestrator/tests/test_tasks.py
  job-orchestrator/tests/transformers/test_cartoonification.py
  job-orchestrator/transformers/__init__.py
  job-orchestrator/transformers/cartoonification.py
Due: none

Remove cartoonification from job service
  job-service/task_mapper.py
  job-service/tests/test_service.py
  job-service/tests/test_task_mapper.py
Due: none

Update contract scripts
  contract/scripts/add_transformation.js
  contract/scripts/generate_in_batch.js
Due: Contract

Add new transformations to contract scripts
  contract/scripts/add_transformation.js
Due: Contract

Add new task mappings to job service
  job-service/task_mapper.py
  job-service/tests/test_task_mapper.py
Due: none

Images for new transformations on client
  client/src/assets/images/transformations/mosaic/fbeach-mosaic.jpg
  client/src/assets/images/transformations/mosaic/fcat-mosaic.jpg
  client/src/assets/images/transformations/mosaic/fdog-mosaic.jpg
  client/src/assets/images/transformations/mosaic/fgirl-mosaic.jpg
  client/src/assets/images/transformations/mosaic/fparrot-mosaic.jpg
  client/src/assets/images/transformations/mosaic/fsky-mosaic.jpg
  client/src/assets/images/transformations/mosaic/mcity-mosaic.jpg
  client/src/assets/images/transformations/mosaic/mdogs-mosaic.jpg
  client/src/assets/images/transformations/mosaic/mforest-mosaic.jpg
  client/src/assets/images/transformations/mosaic/mgirl-mosaic.jpg
  client/src/assets/images/transformations/mosaic/mlake-mosaic.jpg
  client/src/assets/images/transformations/the-scream/fbeach-the-scream.jpg
  client/src/assets/images/transformations/the-scream/fcat-the-scream.jpg
  client/src/assets/images/transformations/the-scream/fdog-the-scream.jpg
  client/src/assets/images/transformations/the-scream/fgirl-the-scream.jpg
  client/src/assets/images/transformations/the-scream/fparrot-the-scream.jpg
  client/src/assets/images/transformations/the-scream/fsky-the-scream.jpg
  client/src/assets/images/transformations/the-scream/mcity-the-scream.jpg
  client/src/assets/images/transformations/the-scream/mdogs-the-scream.jpg
  client/src/assets/images/transformations/the-scream/mforest-the-scream.jpg
  client/src/assets/images/transformations/the-scream/mgirl-the-scream.jpg
  client/src/assets/images/transformations/the-scream/mlake-the-scream.jpg
  client/src/assets/images/transformations/udnie/fbeach-udnie.jpg
  client/src/assets/images/transformations/udnie/fcat-udnie.jpg
  client/src/assets/images/transformations/udnie/fdog-udnie.jpg
  client/src/assets/images/transformations/udnie/fgirl-udnie.jpg
  client/src/assets/images/transformations/udnie/fparrot-udnie.jpg
  client/src/assets/images/transformations/udnie/fsky-udnie.jpg
  client/src/assets/images/transformations/udnie/mcity-udnie.jpg
  client/src/assets/images/transformations/udnie/mdogs-udnie.jpg
  client/src/assets/images/transformations/udnie/mforest-udnie.jpg
  client/src/assets/images/transformations/udnie/mgirl-udnie.jpg
  client/src/assets/images/transformations/udnie/mlake-udnie.jpg
  client/src/config/imageLoader/imageLoader.ts
  client/src/config/transformations/transformations.ts
  client/src/models/Transformations.model.ts
  job-orchestrator/run_task.py
Due: none

Add basic MainSection
  landing-page/src/components/MainSection/MainSection.styles.ts
  landing-page/src/components/MainSection/MainSection.test.tsx
  landing-page/src/components/MainSection/MainSection.tsx
Due: none

Integrate basic MainSection
  landing-page/src/components/RootView/RootView.tsx
Due: none

Add basic footer styles
  landing-page/src/components/Footer/Footer.styles.ts
  landing-page/src/components/Footer/Footer.tsx
  landing-page/src/components/MainSection/MainSection.styles.ts
Due: none

Increase image resolution for fast neural style transformation
  job-orchestrator/tasks.py
  job-orchestrator/transformers/fast_neural_style.py
Due: none

Log tx receipt
  contract/scripts/log_transaction.js
Due: Contract

Listing past events for pay generating
  contract/scripts/past_events.js
Due: Contract

Add token name and link to opensea
  client/.env.development
  client/.env.production
  client/src/components/MyArtScene/ImageGallery/ImageGallery.tsx
Due: none

Remove unused code
  client/src/components/LandingScene/LandingScene.tsx
  client/src/components/RootView/RootView.tsx
Due: none

Add transformation description to contract
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  contract/test/PayGenerating.test.js
  contract/test/Transformations.test.js
Due: Contract

Add transformation descriptions to client
  client/src/assets/contracts/StyleArt.json
  client/src/components/TransformationCard/TransformationCard.tsx
  client/src/components/TransformationDetailsScene/TransformationDetailsScene.tsx
  client/src/components/TransformationsScene/TransformationsScene.tsx
  client/src/models/Transformations.model.ts
  client/src/utils/resolvers.ts
Due: none

Update contract in each service
  event-listener/StyleArt.json
  nft-service/contracts/StyleArt.json
Due: NRT Service

Enhance MyArtScene ui
  client/src/components/MyArtScene/ImageGallery/ImageGallery.styles.ts
  client/src/components/MyArtScene/ImageGallery/ImageGallery.tsx
Due: none

Remove generated image paper
  client/src/components/GenerateScene/GeneratedImage/GeneratedImage.styles.ts
  client/src/components/GenerateScene/GeneratedImage/GeneratedImage.tsx
Due: none

Enhance generate waiting message
  client/src/components/GenerateScene/GeneratedImage/GeneratedImage.tsx
Due: none

Add reset generate flow
  client/src/components/GenerateScene/ImageGeneratedActions/ImageGeneratedActions.tsx
Due: none

Path conditions:
  Contract: any of: contract/
  NRT Service: any of: nft-service/
