Repository anaai/anaai: changes, and which Semaphore blocks are due for each by the changed paths.
All: Contract, NRT Service

Contract:
  jobs:
  - commands:
    - checkout
    - cd contract
    - npm install
    - npm test

NRT Service:
  jobs:
  - commands:
    - checkout
    - cd nft-service
    - make test
    - docker build -t nft-service .
    - docker run nft-service python -m pytest tests

Add resolveTransformationById resolver
  client/src/utils/resolvers.ts
Due: none

Add transformation type selection
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.tsx
Due: none

Add transformation type styles
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.styles.ts
Due: none

Enhance transformation selection styles
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.styles.ts
Due: none

Refactor PayGenerateForm
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.tsx
Due: none

Scope husky lint-staged run to client folder
  client/package.json
Due: none

Install requirements
  e2e/cypress.json
  e2e/package.json
  e2e/yarn.lock
Due: none

Dockerize e2e tests
  e2e/.gitignore
  e2e/Dockerfile
  e2e/cypress-docker.json
  e2e/docker-compose.yml
  e2e/wait-for-it.sh
Due: none

Add first spec
  e2e/.gitignore
  e2e/README.md
  e2e/cypress/integration/first_spec.js
  e2e/docker-compose.yml
Due: none

Add gitignore
  e2e/.gitignore
Due: none

Add environment variable for base client url
  e2e/cypress.json
Due: none

Add basic README
  e2e/README.md
Due: none

Update local base_url
  e2e/cypress.json
Due: none

Script for testing locally
  e2e/test.sh
Due: none

Fix contract wrapper in nft-service
  nft-service/contracts/style_nft.py
Due: NRT Service

Change order of fields in structs for gas optimization
  contract/build/contracts/StyleNFT.json
  contract/contracts/StyleNFT.sol
Due: Contract

Remove user bought tokens
  contract/build/contracts/StyleNFT.json
  contract/contracts/StyleNFT.sol
  contract/test/UserTokenInformation.test.js
Due: Contract

Add transformation supply
  contract/build/contracts/StyleNFT.json
  contract/contracts/StyleNFT.sol
  contract/test/PayGenerating.test.js
  contract/test/Transformations.test.js
Due: Contract

Revert pay generating when supply is exceeded for transformation
  contract/build/contracts/StyleNFT.json
  contract/contracts/StyleNFT.sol
  contract/test/PayGenerating.test.js
Due: Contract

Remove everything related to paying images
  contract/contracts/StyleNFT.sol
Due: Contract

Remove PayImage and SafeTransferFrom tests
  contract/test/PayImage.test.js
  contract/test/SafeTransferFrom.test.js
Due: Contract

Refactor rest of tests
  contract/test/Tokens.test.js
  contract/test/UserTokenInformation.test.js
Due: Contract

Mint tokens to users instead of contract owner
  contract/build/contracts/StyleNFT.json
  contract/contracts/StyleNFT.sol
  contract/test/Tokens.test.js
  contract/test/UserTokenInformation.test.js
Due: Contract

Update sample scripts
  contract/scripts/add_transformation.js
  contract/scripts/contract_communication_samples.js
  contract/scripts/pay_generating.js
  contract/scripts/pay_image.js
Due: Contract

Update mintNFT and remove safe transfer endpoint from in nft service
  nft-service/contracts/StyleNFT.json
  nft-service/contracts/style_nft.py
  nft-service/logger.py
  nft-service/service.py
  nft-service/tests/contracts/test_factories.py
  nft-service/tests/contracts/test_style_nft.py
  nft-service/tests/test_logger.py
Due: NRT Service

Remove recipient and price from job service
  job-service/.env.example
  job-service/service.py
  job-service/tests/test_service.py
Due: none

Remove recipient and price from generation jobs
  job-orchestrator/tasks.py
  job-orchestrator/tests/test_tasks.py
Due: none

Fix nft-service token minting call
  nft-service/service.py
Due: NRT Service

Remove transfering ownership from event listener
  event-listener/.env.example
  event-listener/StyleNFT.json
  event-listener/event_listener.js
Due: none

Log steps in tasks for generating images
  job-orchestrator/logger.py
  job-orchestrator/tasks.py
  job-orchestrator/tests/test_logger.py
Due: none

Remove pay image
  client/src/components/ExploreScene/ExploreScene.test.tsx
  client/src/components/ExploreScene/ExploreScene.tsx
  client/src/components/ExploreScene/ImageGallery/ImageGallery.test.tsx
  client/src/components/ExploreScene/ImageGallery/ImageGallery.tsx
  client/src/components/GenerateScene/GenerateScene.tsx
  client/src/components/GenerateScene/ImageGeneratedActions/ImageGeneratedActions.styles.ts
  client/src/components/GenerateScene/ImageGeneratedActions/ImageGeneratedActions.test.tsx
  client/src/components/GenerateScene/ImageGeneratedActions/ImageGeneratedActions.tsx
  client/src/components/GenerateScene/PayImageForm/PayImageForm.test.tsx
  client/src/components/GenerateScene/PayImageForm/PayImageForm.tsx
  client/src/contexts/WalletContext/WalletContext.actions.test.ts
  client/src/contexts/WalletContext/WalletContext.actions.ts
  client/src/contexts/WalletContext/WalletContext.reducer.test.ts
  client/src/contexts/WalletContext/WalletContext.reducer.ts
  client/src/contexts/WalletContext/WalletContext.state.ts
  client/src/contexts/WalletContext/WalletContext.tsx
  client/src/models/ImageGallery.model.ts
  client/src/utils/mappers.ts
Due: none

Add route restrictions if no account is connected
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.tsx
  client/src/components/LandingScene/LandingScene.styles.ts
  client/src/components/LandingScene/LandingScene.tsx
  client/src/components/RootView/RootView.tsx
Due: none

Update contract address for all services
  contract/scripts/update_services.js
Due: Contract

Update contract ABIs in all services
  contract/scripts/update_services.js
Due: Contract

Install utility for file regex replacing
  contract/package.json
  contract/yarn.lock
Due: Contract

'Add' rinkeby support
  contract/hardhat.config.js
Due: Contract

Update mint token and adding transformations scripts
  contract/scripts/add_transformation.js
  contract/scripts/mint_token.js
Due: Contract

Update triggering job scripts for job-service
  job-orchestrator/scripts/trigger_job.sh
  job-service/scripts/trigger_job.sh
Due: none

Update script for triggering jobs through redis
  job-orchestrator/scripts/run_task.py
Due: none

Update nft-service scripts
  nft-service/scripts/get_status.sh
  nft-service/scripts/mint_nft.sh
  nft-service/scripts/transfer_token.sh
Due: NRT Service

Path conditions:
  Contract: any of: contract/
  NRT Service: any of: nft-service/
