Repository anaai/anaai: changes, and which Semaphore blocks are due for each by the changed paths.
All: Contract, NRT Service

Contract:
  jobs:
  - commands:
    - checkout
    - cd contract
    - npm install
    - npm test

NRT Service:
  jobs:
  - commands:
    - checkout
    - cd nft-service
    - make test
    - docker build -t nft-service .
    - docker run nft-service python -m pytest tests

Integrate ScrollToTopOnUnmount component
  client/src/components/GenerateScene/GenerateScene.tsx
  client/src/components/MyArtScene/MyArtScene.tsx
  client/src/components/TransformationDetailsScene/TransformationDetailsScene.tsx
  client/src/components/TransformationsScene/TransformationsScene.tsx
Due: none

Add ScrollToTopOnUnmount component type
  client/src/components/ScrollToTopOnUnmount/ScrollToTopOnUnmount.tsx
Due: none

Code cleanup
  client/src/components/Header/Header.styles.ts
Due: none

Point to prod app url in landing page
  landing-page/src/components/Header/Header.tsx
Due: none

Enhance TransformationCard text overflow
  client/src/components/TransformationCard/TransformationCard.styles.ts
Due: none

Enhance promo video dimensions
  landing-page/src/components/MainSection/MainSection.styles.ts
Due: none

Enhance hero text
  landing-page/src/components/MainSection/MainSection.tsx
Due: none

Update video url in landing page
  landing-page/src/components/MainSection/MainSection.tsx
Due: none

Grammar update.
  landing-page/src/components/MainSection/MainSection.tsx
Due: none

Grammarly-fy text on the landing page
  landing-page/src/components/MainSection/MainSection.tsx
Due: none

Set tx value when generating
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.tsx
  client/src/models/Transformations.model.ts
Due: none

Update adding transformation to contract script
  contract/scripts/add_transformation.js
Due: Contract

Generic generating params in contract
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  contract/test/PayGenerating.test.js
Due: Contract

Construct bytes on client side when generating
  client/src/components/GenerateScene/PayGenerateForm/PayGenerateForm.tsx
Due: none

Parse bytes in event listener for job payload
  event-listener/event_listener.js
Due: none

Update pay generating script
  contract/scripts/pay_generating.js
Due: Contract

Update contract ABIs
  client/src/assets/contracts/StyleArt.json
  event-listener/StyleArt.json
  nft-service/contracts/StyleArt.json
Due: NRT Service

Add scope to client and landing-page tests
  client/package.json
  landing-page/package.json
Due: none

Remove transformation description from contract
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  contract/test/PayGenerating.test.js
  contract/test/Transformations.test.js
Due: Contract

Add static transformation descriptions to client
  client/src/config/transformations/transformations.ts
  client/src/models/Transformations.model.ts
Due: none

Add more logs to nft service
  nft-service/logger.py
  nft-service/service.py
  nft-service/tests/contracts/test_factories.py
  nft-service/tests/test_logger.py
Due: NRT Service

Integrate static transformation descriptions
  client/src/components/TransformationCard/TransformationCard.tsx
  client/src/components/TransformationDetailsScene/TransformationDetailsScene.tsx
Due: none

Update contract in services
  event-listener/StyleArt.json
  nft-service/contracts/StyleArt.json
Due: NRT Service

Add unique constraint on tx hash
  job-service/alembic/versions/7d51b2d43a4a_add_unique_constraint_for_tx_hash_in_.py
Due: none

Add unique constraint for tx hash
  job-service/alembic/versions/324348d8954b_add_transformation_number_to_job_request.py
  job-service/alembic/versions/4809f0d1b5fb_add_transaction_hash_and_block_hash_to_.py
  job-service/alembic/versions/4af8308e88ec_remove_unique_constraint_for_tx_hash_in_.py
  job-service/alembic/versions/7d51b2d43a4a_add_unique_constraint_for_tx_hash_in_.py
  job-service/alembic/versions/8df69e67fe35_generate_base_tables.py
  job-service/alembic/versions/ae203134339e_add_transformations_to_job_requests.py
  job-service/alembic/versions/bebed10aee6f_generate_job_request_table.py
  job-service/alembic/versions/e205f8466f50_remove_unique_constraint_for_block_hash_.py
  job-service/models.py
Due: none

Add permissions for minting from non owner address
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  contract/test/Minters.test.js
  contract/test/Tokens.test.js
Due: Contract

Use msg.sender for minting authorization
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
Due: Contract

Update contract scripts
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  contract/scripts/add_minter.js
  contract/scripts/add_transformation.js
Due: Contract

Update contract ABIs in services
  client/src/assets/contracts/StyleArt.json
  event-listener/StyleArt.json
  nft-service/contracts/StyleArt.json
Due: NRT Service

Make minters public in contract
  client/src/assets/contracts/StyleArt.json
  contract/build/contracts/StyleArt.json
  contract/contracts/StyleArt.sol
  event-listener/StyleArt.json
  nft-service/contracts/StyleArt.json
Due: Contract, NRT Service

Remove sketch and feathers from job-orchestrator
  job-orchestrator/tasks.py
  job-orchestrator/tests/test_tasks.py
Due: none

Remove sketch and feathers from job-service
  job-service/task_mapper.py
  job-service/tests/test_task_mapper.py
Due: none

Remove sketch and feathers from contract sample scripts
  contract/scripts/add_transformation.js
Due: Contract

Resize images for animegan transformations
  job-orchestrator/transformers/anime_gan.py
Due: none

Update currency in UI
  client/src/components/TransformationCard/TransformationCard.tsx
  client/src/components/TransformationDetailsScene/TransformationDetailsScene.tsx
Due: none

Catch errors in event listener and print
  event-listener/event_listener.js
Due: none

Fix shapes in tests
  job-orchestrator/tests/transformers/test_anime_gan.py
  job-orchestrator/tests/transformers/test_fast_neural_style.py
Due: none

Update neural style shape
  job-orchestrator/transformers/fast_neural_style.py
Due: none

Fix test for task mapper
  job-service/tests/test_task_mapper.py
Due: none

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Path conditions:
  Contract: any of: contract/
  NRT Service: any of: nft-service/
