Repository anaai/anaai: changes, and which Semaphore blocks are due for each by the changed paths.
All: Contract, Job Orchestrator, Job Service, NFT Service, Client app

Contract:
  jobs:
  - name: 'Job #1'
    commands:
    - checkout
    - cd contract
    - yarn install
    - yarn test

Job Orchestrator:
  jobs:
  - name: 'Job #1'
    commands:
    - checkout
    - cd job-orchestrator
    - docker build -t job-orchestrator .
    - docker run job-orchestrator:latest python -m pytest tests

Job Service:
  secrets:
  - name: job-service-db
  jobs:
  - name: 'Job #1'
    commands:
    - checkout
    - cd job-service
    - docker build -t job-service .
    - docker run -e MIGRATIONS_CONNECTION_URL=$MIGRATIONS_CONNECTION_URL job-service:latest python -m pytest tests

NFT Service:
  secrets:
  - name: wallet
  - name: contract
  jobs:
  - name: 'Job #1'
    commands:
    - checkout
    - cd nft-service
    - docker build -t nft-service .
    - docker run -e CONTRACT_ADDRESS=$CONTRACT_ADDRESS -e PUBLIC_KEY=$PUBLIC_KEY nft-service:latest python -m pytest tests

Client app:
  jobs:
  - name: 'Job #1'
    commands:
    - checkout
    - cd client
    - yarn install
    - yarn test

Downgrade torch version
  job-orchestrator/requirements.txt
Due: Job Orchestrator

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Remove failing test transformation detail scene
  client/src/components/TransformationDetailsScene/TransformationDetailsScene.test.tsx
Due: Client app

Add semaphore badge
  README.md
Due: none

Add license
  LICENSE
Due: none

Update README.md
  README.md
Due: none

Clean readme
  README.md
Due: none

Links to separate README files
  README.md
Due: none

Update contract README
  contract/README.md
Due: Contract

Update the rest of READMEs
  event-listener/README.md
  job-orchestrator/README.md
  job-service/README.md
  nft-service/README.md
Due: Job Orchestrator, Job Service, NFT Service

Path conditions:
  Contract: any of: contract/
  Job Orchestrator: any of: job-orchestrator/
  Job Service: any of: job-service/
  NFT Service: any of: nft-service/
  Client app: any of: client/
